body ,html{
    background-color: rgb(180, 179, 179);
    margin: 5px;
    padding:5px;
  }

header{
    background-color:#ccc;
    display: block;
    }

        header img{
            box-align:left;
            padding: 10px;
            float: left;
        }

        header h1{
            display:inline-block;
            padding: 10px;
        }

        header h3{
            display:block;
            padding:30px;
            margin: 15px;
        }
        
          header ul li{
              display:inline-block;
              padding: 100 px;
              margin: 10px 20px 30px;
              font-style: italic;
          }
main {
    background-color: #ccc;
     }

    section.left img {
        padding: 0px;
        margin: 10px;
        display: block;
        float: left;
    }
    
    section.right img {
        display:block;
        float: right;
        margin:10px;
    }

    main p{
        padding:10px;
        text-align:justify;
    }
